*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*variables*/
  --main-background: #ffffff;
  --box-shadow: rgb(0, 0, 0) 6px 6px 2px;

  /*SUBMIT*/
  --submit-background: #f2f0f0;

  --submit-container-border: 2px solid rgb(109, 109, 109);
  --input-box-border: 2px solid rgb(216, 216, 216);
  --submit-button-color: #ffadad;


  /*MESSAGE CARD*/
  --card-background: #ffffff;
  --favorite-bg-color: #eaeaea;
  --timer-color: #cbcbcb;
  --hearts-counts-color: #949494;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}